apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-pvc
  namespace: ecatalog
  labels:
    app: database
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  selector:
    matchLabels:
      type: local
      app: database
