apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog
  namespace: ecatalog
  labels:
    app: catalog
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
        tier: backend
    spec:
      # TODO Verificar o imagePullSecrets para caso seja preciso autenticar em algum repositorio para dar pull  
      containers:
      - name: catalog
        image: ecatalog/catalog:latest
        imagePullPolicy: Never  # TODO Verificar se não temos de por como IfNotPresent dependendo de como ficam as tags das imagens! Ou never caso não seja o que estou a pensar
        ports:
        - containerPort: 8000
          name: http
        env:
        - name: SERVICE_NAME
          value: "catalog"
        - name: VERSION
          value: "1.0.0"
        - name: ENVIRONMENT
          value: "production"
        - name: AUTHENTICATION_URL
          value: "http://authentication:8080"  # ← DNS interno K8s!
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "1000m"