apiVersion: v1
kind: Service
metadata:
  name: authentication
  namespace: ecatalog
  labels:
    app: authentication
spec:
  type: NodePort
  selector:
    app: authentication
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
    name: http