apiVersion: v1
kind: Service
metadata:
  name: catalog
  namespace: ecatalog
  labels:
    app: catalog
spec:
  type: NodePort
  selector:
    app: catalog
  ports:
  - port: 8000        # Porta interna do cluster
    targetPort: 8000  # Porta do container
    nodePort: 30800   # Porta externa (acesso via minikube IP)
    protocol: TCP
    name: http
  sessionAffinity: None
