apiVersion: v1
kind: Service
metadata:
  name: catalog
  namespace: ecatalog
  labels:
    app: catalog
spec:
  type: NodePort
  selector:
    app: catalog
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
    name: http