apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: ecatalog
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30300  # Porta externa para acesso